# 1.Take values of the length & breadth of a rectangle from user input and check if it is square or not.

In [1]:
length = float(input("Enter the length of the rectangle: "))
breadth = float(input("Enter the breadth of the rectangle: "))
if length == breadth:
    print("It's a square.")
else:
    print("It's a rectangle.")

Enter the length of the rectangle: 4
Enter the breadth of the rectangle: 4
It's a square.

# 2.Take three integer values from the user and print the greatest among them.

In [4]:
num1 = int(input("Enter first integer: "))
num2 = int(input("Enter second integer: "))
num3 = int(input("Enter third integer: "))
greatest = max(num1, num2, num3)
print("The greatest number among", num1, ",", num2, "and", num3, "is:", greatest)

Enter first integer: 2
Enter second integer: 3
Enter third integer: 4
The greatest number among 2 , 3 and 4 is: 4

# 3.A student will not be allowed to sit in an exam if his/her attendance is less than 75%.

In [5]:
total_classes = int(input("Enter the number of classes: "))
attended_classes = int(input("Enter the number of classes attended: "))

attendance_percentage = (attended_classes / total_classes) * 100

if attendance_percentage >= 75:
    print("The student is allowed to sit in the exam.")
else:
    print("The student is not allowed to sit in the exam (attendance:", attendance_percentage, "%).")

Enter the number of classes: 10
Enter the number of classes attended: 6
The student is not allowed to sit in the exam (attendance: 60.0 %).

# 4.A school has the following rules for the grading system:
Below 25 – F, 25 to 44 – E, 45 to 49 – D, 50 to 59 – C, 60 to 79 – B, 80 to 89 - A, Above 90 - A+
Now, Ask the user to enter marks and print the corresponding grade.

In [6]:
marks = float(input("Enter the marks: "))
if marks < 25:
    grade = "F"
elif marks < 45:
    grade = "E"
elif marks < 50:
    grade = "D"
elif marks < 60:
    grade = "C"
elif marks < 80:
    grade = "B"
elif marks < 90:
    grade = "A"
else:
    grade = "A+"
print("The corresponding grade for", marks, "marks is:", grade)

Enter the marks: 70
The corresponding grade for 70.0 marks is: B

# 5.Print the following pattern using for and while loop.
1 2 3 4 5 6 7
1 2 3 4 5 6
1 2 3 4 5
1 2 3 4

# For loop

In [7]:
for i in range(4, 0, -1):
    for j in range(1, i+1):
        print(j, end=' ')
    print()

1 2 3 4
1 2 3
1 2
1

# While Loop

In [8]:
i = 4
while i >= 1:
    j = 1
    while j <= i:
        print(j, end=' ')
        j += 1
    print()
    i -= 1

1 2 3 4
1 2 3
1 2
1

# 6.Display numbers from -100 to -10 using for loop.

In [9]:
for num in range(-100, -9):
    print(num, end=' ')

-100 -99 -98 -97 -96 -95 -94 -93 -92 -91 -90 -89 -88 -87 -86 -85 -84 -83 -82 -81 -80 -79 -78 -77 -76 -75 -74 -73 -72 -71 -70 -69 -68 -67 -66 -65 -64 -63 -62 -61 -60 -59 -58 -57 -56 -55 -54 -53 -52 -51 -50 -49 -48 -47 -46 -45 -44 -43 -42 -41 -40 -39 -38 -37 -36 -35 -34 -33 -32 -31 -30 -29 -28 -27 -26 -25 -24 -23 -22 -21 -20 -19 -18 -17 -16 -15 -14 -13 -12 -11 -10

# 7.Write a program to sum all prime numbers within a range of 10 to 1000.

In [11]:
def is_prime(number):
    if number <= 1:
        return False
    if number <= 3:
        return True
    if number % 2 == 0 or number % 3 == 0:
        return False
    i = 5
    while i * i <= number:
        if number % i == 0 or number % (i + 2) == 0:
            return False
        i += 6
    return True

lower_limit = 10
upper_limit = 1000
prime_sum = 0

for num in range(lower_limit, upper_limit + 1):
    if is_prime(num):
        prime_sum += num

print("The sum of prime numbers from", lower_limit, "to", upper_limit, "is:", prime_sum)

The sum of prime numbers from 10 to 1000 is: 76110

# 8.Find the factorial of an n! (Hint, n=7: 7*6*5*4*3*2*1).

In [2]:
def factorial(n):
    if n == 0 or n == 1:
        return 1
    else:
        return n * factorial(n - 1)

n = 7
result = factorial(n)
print(f"The factorial of {n} is: {result}")

The factorial of 7 is: 5040

# 9.Reverse a given integer number 27956240710.

In [3]:
number = 27956240710
reversed_number = int(str(number)[::-1])
print(reversed_number)

1704265972

# 10. Print the following pattern using for and while loop.
# # #
# # # #
# # #
# #

# For loop

In [7]:
for i in range(4):
    if i == 1:
        print("# # #")
    elif i == 2:
        print("# # # #")
    else:
        print("# # #")

# # #
# # #
# # # #
# # #

# while  loopp

In [8]:
i = 0
while i < 4:
    if i == 1:
        print("# # #")
    elif i == 2:
        print("# # # #")
    else:
        print("# # #")
    i += 1

# # #
# # #
# # # #
# # #

# 11. Display the Fibonacci series of 15 elements using the for and while loop.

# For loop

In [9]:
n = 15
fibonacci = [0, 1]

for i in range(2, n):
    next_element = fibonacci[i - 1] + fibonacci[i - 2]
    fibonacci.append(next_element)

for num in fibonacci:
    print(num, end=" ")

0 1 1 2 3 5 8 13 21 34 55 89 144 233 377

# While loop

In [10]:
n = 15
fibonacci = [0, 1]
i = 2

while i < n:
    next_element = fibonacci[i - 1] + fibonacci[i - 2]
    fibonacci.append(next_element)
    i += 1

for num in fibonacci:
    print(num, end=" ")

0 1 1 2 3 5 8 13 21 34 55 89 144 233 377

# Python inbuilt Data Structure:
12. Remove 2 and add 3 to the list and replace True with False.
Li = [1,3,5, [2,3], True]
Output = [1,3,5, [3,3], False]

In [11]:
Li = [1, 3, 5, [2, 3], True]

Li[3][0] = 3

Li[-1] = False

print(Li)

[1, 3, 5, [3, 3], False]

# 13. Find the intersection (common) of two sets.
S1 = {1,4,6,8}
S2 = {True, 1,2,10}

In [12]:
S1 = {1, 4, 6, 8}
S2 = {True, 1, 2, 10}

intersection_result = S1.intersection(S2)
print(intersection_result)

{True}

# 14. Input a list from the user then Remove duplicates from a list and create a set and find the max
number. User_input = [1,9,3,4,5,200,54]

In [2]:
user_input = input("Enter a list of numbers separated by spaces: ")
user_list = [int(x) for x in user_input.split()]

unique_set = set(user_list)

max_number = max(unique_set)

print("Original List:", user_list)
print("List after removing duplicates:", list(unique_set))
print("Maximum number:", max_number)

Enter a list of numbers separated by spaces: 1 9 3 4 5 200 54
Original List: [1, 9, 3, 4, 5, 200, 54]
List after removing duplicates: [1, 3, 4, 5, 200, 9, 54]
Maximum number: 200

# 15. Rename the key of a dictionary.
Dict = { "name": "Shakil", "age":27, "city": “Berlin”, "country": "Germany" }
Write a program to rename a key ‘country’ to a ‘region’ in the following dictionary.

In [3]:
Dict = {"name": "Shakil", "age": 27, "city": "Berlin", "country": "Germany"}

Dict['region'] = Dict.pop('country')

print(Dict)

{'name': 'Shakil', 'age': 27, 'city': 'Berlin', 'region': 'Germany'}

# 16. Creating a data frame using the list.
num = [10,100,300] (column name is number)

In [4]:
import pandas as pd

num = [10, 100, 300]
data = {'number': num}

df = pd.DataFrame(data)

print(df)

   number
0      10
1     100
2     300

# 17. Change the value of a key in a given dictionary.
Write a Python program to change ‘age’ to 28 in the following dictionary.
Dict = { "name": "Shakil", "age":27, "city": “Berlin”, "country": "Germany" }

In [5]:
Dict = {"name": "Shakil", "age": 27, "city": "Berlin", "country": "Germany"}

Dict['age'] = 28

print(Dict)

{'name': 'Shakil', 'age': 28, 'city': 'Berlin', 'country': 'Germany'}