In [23]:
import pandas as pd
import numpy as np

In [2]:
dataset={'price':[110,105,115,120,110,130,150,100,105]
        }

In [3]:
df=pd.DataFrame(dataset)

In [4]:
df

   price
0    110
1    105
2    115
3    120
4    110
5    130
6    150
7    100
8    105

In [5]:
df.head()

   price
0    110
1    105
2    115
3    120
4    110

In [6]:
x=df

In [7]:
x2 = x.copy()

In [8]:
x2.head()

   price
0    110
1    105
2    115
3    120
4    110

# Normalization

In [9]:
from sklearn.preprocessing import MinMaxScaler

In [10]:
m=MinMaxScaler()

In [11]:
df_mar_sp = m.fit(x[['price']]) #calculating
df_mar_sp

MinMaxScaler()

In [12]:
x.head()

   price
0    110
1    105
2    115
3    120
4    110

In [13]:
x['price'] = m.transform(x[['price']])

In [14]:
x['price'].head()

0    0.2
1    0.1
2    0.3
3    0.4
4    0.2
Name: price, dtype: float64

In [15]:
x['price'].min()

0.0

In [16]:
 x['price'].max()

1.0

# Standard Scaler

In [17]:
#from sklearn.preprocessing import StandardScaler

In [18]:
x2['price'].std()

15.567951410224504

In [19]:
x2['price'].mean()

116.11111111111111

# Robust

In [21]:
from sklearn.preprocessing import RobustScaler

In [22]:
x2['price'].median()

110.0

In [25]:
percentile_25 = np.percentile(x2, 25)

In [26]:
percentile_25

105.0

In [27]:
percentile_75 = np.percentile(x2, 75)

In [29]:
percentile_75

120.0

# Max Abs

In [30]:
from sklearn.preprocessing import MaxAbsScaler

In [31]:
x2['price'].max()

150